body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}


.container{
    background-color: rgb(163, 155, 150);
    padding: 20px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
}
.textArea{

    text-align: justify;
    padding: 10px;
    border-radius: 2%;
    font-size: 14px;
}
.warning{
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    width: 60%;

}
.warnMsg{
    width: 100%;
    font-size: 20px;
}
.numChar{
    font-size: 14px;
}
.remaining{
    color: red;
}
.cls{
    position: absolute;
    left: 89%;
    top: -7%;
    font-size: 16px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 5px rgb(203, 20, 20);;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    background-color: white;
}
.hidden{
display: none;
}


@media screen and (min-width:667px) {
    .warning{
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 20%;
    top: 50%;

}
.warnMsg{
    width: 100%;
    font-size: 30px;
}
.cls{
    position: absolute;
    left: 91%;
    top: -4%;
    font-size: 16px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 5px rgb(203, 20, 20);;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    background-color: white;
}
}